* {
  margin: 0;
  padding: 0;
}

.box {
  position: relative;

  &:before {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    content: '';
    width: 3px;
    height: 35px;
    background-color: #00b0ab;
  }
}

.canvas {
  display: block;
  margin: 0 auto;
  transition-duration: 300ms;
}