.container{
  margin: 0 auto;
  width: 300px;
}

.currentValue{
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}

.slideContainer{
  position: relative;
  width: 100%;

  &:before{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: '';
    width: 1px;
    height: 100%;
    background-color: #59AFFF;
  }

  &:after{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #59AFFF;
    border-left: 8px solid transparent;
  }
}